body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
}

.container {
    max-width: 600px; /* 幅の制限 */
    margin: 0 auto; /* 中央揃え */
    padding: 20px;
    display: flex;
    align-items: center;
}

.content {
    flex: 1; /* 余白を埋める */
}

/* アコーディオンのスタイル */
details {
    border: 1px solid #ccc;
    margin: 20px 0px;
}
details summary {
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    background: #ddd;
    user-select: none;
}
details input {
    margin: 10px 20px;
}
details label,
details input {
    cursor: pointer;
}

.executer {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dataTable {
    margin: 20px 0px;
    border-collapse: collapse;
    width: 100%;
}

#dataTable td,
#dataTable th {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 8px;
    text-align: left;
}

.table-wrapper {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 300px;
}

#dataTable th:first-child,
#dataTable td:first-child {
    width: 50px; /* 最初の列の幅を100pxに設定 */
}

.charaURL a {
    text-decoration: none;
    color: #000000;
}

.charaURL a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
}
